/*Azul Oscuro: #1c1f33 */
/*Rojo: #E74C3C*/

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?1d5rin");
  src: url("../fonts/icomoon.eot?1d5rin#iefix") format("embedded-opentype"),
    url("../fonts/icomoon.ttf?1d5rin") format("truetype"),
    url("../fonts/icomoon.woff?1d5rin") format("woff"),
    url("../fonts/icomoon.svg?1d5rin#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before {
  content: "\e900";
}

body {
  font-family: "Source Sans Pro";
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0 0 0 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Spartan;
  font-weight: normal;
}

h1 {
  font-size: 28px;
  line-height: 1.5em;
  letter-spacing: -0.5px;
  color: white;
  margin: 0;
}

h1 strong {
  color: #e74c3c;
}

h2 {
  color: #e74c3c;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 40px;
}

.hero {
  height: 400px;
  background-color: #1c1f33f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-image {
  object-fit: cover;
}

.portfolio {
  background-color: #fafafa;
  padding: 20px;
}

.project {
  border: 1px solid gray;
  border-radius: 10px;
  margin-bottom: 15px;
  padding: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.project-chanel,
.project-date,
.project-url {
  margin: 10px 0;
}

.project-description {
  font-size: 20px;
}

.project strong {
  font-family: Spartan;
}

.project-title {
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 10px;
}

.project-details {
  width: 50%;
}

.project-imageContainer {
  width: 50%;
  margin: 0;
  text-align: center;
}

.project-imageContainer img {
  max-width: 100%;
}

.header {
  background-color: #1c1f33;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  flex-wrap: wrap;
}

.menu {
  height: inherit;
}

.header ol {
  display: flex;
  height: inherit;
}

.header ol li {
  height: inherit;
}

.header a {
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.footer {
  color: white;
  background-color: #1c1f33;
  color: white;
  display: flex;
  justify-content: center;
}

.footer div {
  text-align: center;
}

.footer a {
  color: white;
  text-decoration: none;
}

.contact {
  background-color: #e74c3c;
  color: white;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.social-link {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: 50px 50px;
  margin: 0 20px;
}

.social-link.twitter {
  background-image: url(../Imagenes/twitter.svg);
}

.social-link.facebook {
  background-image: url(../Imagenes/facebook.svg);
}

.social-link.instagram {
  background-image: url(../Imagenes/instagram.svg);
}

.social-link.github {
  background-image: url(../Imagenes/github.svg);
}

.social-link.youtube {
  background-image: url(../Imagenes/youtube.svg);
}

.form-email input {
  border-radius: 5px;
  border-style: none;
  border-color: gray;
  padding: 5px 20px;
}

.form-email button {
  display: block;
  background-color: #1c1f33;
  color: white;
  border-radius: 5px;
  padding: 10px 0;
  width: 100px;
  margin-top: 10px;
  border-style: none;
}

.container {
  max-width: 1000px;
  /*width: 100%;*/
  flex: 1;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  height: inherit;
  flex-wrap: inherit;
}

.burger-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  line-height: 40px;
  text-align: center;
  position: fixed;
  z-index: 4;
  left: 5px;
  top: 5px;
  color: white;
}

/*------- Inicia los @media, desktop first empezar desde el mas grande*/

@media screen and (max-width: 1024px) {
  .container {
    padding: 0 1em;
  }
  .portfolio {
    padding: 0;
  }
}

@media screen and (max-width: 840px) {
  .hero {
    height: auto;
    position: relative;
    overflow: hidden;
    padding: 2em;
  }

  .hero-image {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    width: 100%;
  }

  h1 {
    font-size: 2em;
    z-index: 2;
  }
}

@media screen and (max-width: 767px) {
  .burger-button {
    display: block;
  }
  .header {
    display: block;
    height: auto;
  }
  .header ol {
    display: block;
  }
  .header ol li {
    height: 50px;
  }
  .header a {
    justify-content: center;
    height: 40px;
    font-size: 2em;
    text-decoration: underline;
    margin-bottom: 0.5em;
  }

  .header .logo {
    text-align: center;
    margin: 0;
  }

  .menu {
    position: fixed;
    background-color: rgba(231, 76, 60, 0.8);
    z-index: 3;
    top: 0;
    left: -100vw;
    bottom: 0;
    width: 100vw;
    /*height: 100vh;*/
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
  }
  .menu.is-active {
    left: 0;
  }

  .container h2 {
    font-size: 1.7em;
  }

  .project {
    display: block;
  }
  .project-imageContainer {
    width: auto;
  }
  .project-details {
    width: auto;
    font-size: 16px;
  }

  .project-chanel,
  .project-date,
  .project-url {
    margin: 0.4em 0;
  }

  .project-title {
    font-size: 1.5em;
    margin-bottom: 0.3em;
  }
  .project-url {
    font-size: 1em;
  }
  .project-chanel {
    font-size: 0.7em;
  }
  .project-date {
    font-size: 1em;
  }
  .project-description {
    font-size: 0.8em;
  }
  .contact {
    height: auto;
    padding: 1.5em 0;
    text-align: center;
    display: block;
  }

  .form-email button {
    margin: 1em auto;
  }
}

@media screen and (max-width: 480px) {
  .container h2 {
    font-size: 1.5em;
  }

  .project-details {
    font-size: 12px;
  }

  h1 {
    font-size: 1.8em;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 1.2em;
  }

  .container h2 {
    font-size: 1em;
    margin: 0.5em;
  }
}
