/*Azul Oscuro: #1c1f33 */

body {
  font-family: "Source Sans Pro";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Spartan;
  font-weight: normal;
}

h1 {
  font-size: 30px;
  line-height: 1.5em;
  letter-spacing: -0.5px;
  color: white;
}

.hero {
  height: 400px;
  background-image: url("../Imagenes/Principal.jpg");
  background-color: #1c1f33;
  background-size: 300px 400px;
  background-repeat: no-repeat;
  background-position-x: right;
}

.project-details {
  width: 500px;
}

.project-imageContainer {
  width: 500px;
}

.header {
  background-color: #1c1f33;
  color: white;
}

.header a {
  color: white;
  text-decoration: none;
}
